:root {
  --default-text-color: #1b6579;
  --primary-color: #ff6f3c;
  --secondary-color: #ff9a3c;
  --accent-color: #ffc93c;
}
.logo {
  max-width: 100px;
}
.Dictionary {
  color: var(--default-text-color);
}
.Dictionary h1 {
  color: var(--primary-color);
}
.Dictionary .word {
  color: var(--secondary-color);

  font-size: 50px;
}
.Meaning .partOfSpeech {
  color: var(--accent-color);
  font-size: 25px;
  font-style: italic;
}
footer a {
  text-decoration: none;
  color: var(--secondary-color);
}
