:root {
  --default-text-color: #026c89;
  --primary-color: #ff6f3c;
  --secondary-color: #ff9a3c;
  --accent-color: #ffc93c;
}
.logo {
  max-width: 80px;
}
.Dictionary {
  color: var(--default-text-color);
}
.Dictionary h1 {
  color: var(--primary-color);
}
form .input {
  padding: 8px 50px;
  border-radius: 5px;
  border: 1px solid grey;
}
form .submit-button {
  color: var(--accent-color);
  transition: all 250ms ease-in-out;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  padding: 5px 50px;
  margin: 8px auto;
  display: block;
}
form .submit-button:hover {
  color: white;
  background: linear-gradient(var(--accent-color), var(--primary-color));
}
section {
  background-color: #ff9a3c0d;
  border-radius: 15px;
  margin: 4% 0;
  padding-left: 10%;
  padding-bottom: 2%;
}
.Dictionary .word {
  color: var(--secondary-color);
  font-size: 50px;
}
.Phonetics .text {
  color: rgb(32, 31, 30);
  opacity: 0.5;
  font-size: 25px;
  padding-bottom: 5px;
  padding-left: 4%;
}
audio {
  max-width: 90%;
}
.Meaning {
  padding-left: 10%;
}
.Meaning .partOfSpeech {
  color: var(--accent-color);
  font-size: 25px;
  font-style: italic;
}
.Synonyms {
  opacity: 0.7;
  font-style: italic;
}
ul {
  list-style: none;
  padding-left: 0;
}
.Images {
  display: inherit;
  margin: 5px;
}
.Images img {
  max-width: 300px;
  max-height: 200px;
  margin: 5px;
  object-fit: scale-down;
}
footer a {
  text-decoration: none;
  color: var(--secondary-color);
}

@media (max-width: 600px) {
  form .input {
    padding: 8px 30px;
  }
}
