:root {
  --default-text-color: #026c89;
  --primary-color: #ff6f3c;
  --secondary-color: #ff9a3c;
  --accent-color: #ffc93c;
}
.logo {
  max-width: 100px;
}
.Dictionary {
  color: var(--default-text-color);
}
.Dictionary h1 {
  color: var(--primary-color);
}
.Dictionary .word {
  color: var(--secondary-color);

  font-size: 50px;
}
.Phonetics .text {
  opacity: 0.5;
  color: rgb(32, 31, 30);
  font-size: 25px;
  padding-bottom: 5px;
  padding-left: 4%;
}
.Meaning .partOfSpeech {
  color: var(--accent-color);
  font-size: 25px;
  font-style: italic;
}
.Synonyms {
  opacity: 0.7;
  font-style: italic;
}
ul {
  list-style: none;
  padding-left: 0;
}
.Images {
  display: inherit;
}
img {
  width: 300px;
}
footer a {
  text-decoration: none;
  color: var(--secondary-color);
}
